* {
    box-sizing: border-box;
}

.carre {
    width: 100px;
    height: 100px;
    background-color: rgb(38, 139, 18);
    border: 1px solid white;
}

.container {
    margin: 0 auto;
    margin-top: 10px;
}

